.detailContainer {
  display: flex;
}
.detailContainer img {
  width: 500px;
}
.personInfo {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  margin-left: 50px;
}
.personInfo p span {
  font-weight: 800;
}
